* {
	font-size: 12px;
}
@keyframes MoveOn{

	from {
		transform: translateX(0px)
	}
	to { 
		transform: translateX(2000px)
	}
}
header{
	margin-top: 5px;
	margin-bottom: 15px;
}
header div label {
	width: 120px;
	height: 30px;
	opacity: 0.5;;
	font-size: 12px !important;
}

header div input:checked + label {
	width: 170px;
	height: 30px;
	opacity: 1;
}

.carimg{
	width: 150px;
	height: 90px;
	align-self: center;
	background-size: cover;
}
.car {
	gap: 3px;
}
.car-name {
	align-self: center;
	padding-left: 10px;
	font-size: 1rem;
}
.car-setting button{
	width: 100px;
	height: 35px;
	margin: 0;
	font-size: 12px;
}
.carimg svg {
	width: 100px;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 0px;
}
.carimg .finish-flag {
	left: 80vw;
}
.race-setting{
	border-bottom: solid 3px;
	position: relative;
}
.race-setting button{
	align-self: flex-start;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 15px;
}

#operationField {
	width: 200px;
}

a{
	cursor: pointer;
}
.modal {
	display: block;
}
.car-icon {
	height: 30px;
}
thead th{
	font-size: 16px;
	text-align: center;
}
tbody td {
	text-align: center;
}
span{
	display: inline-block;
	cursor: pointer;	
}
.time-sort{
	cursor: pointer;
}
.count-sort{
	cursor: pointer;
}
.display{
	display: none;
}